@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);

:root{
    --text-color: #39454d;
    --gitHub-color:#333;
    --gitLab-color:rgb(252,109,38);
    --linkedin-color:rgb(40,103,178);
    --android-color:rgb(164,198,57);
    --link-color:rgba(243, 13, 243, 0.699);
    --transition-time: 0.25s;
    --bg-upper-color:rgba(52, 236, 253, 0.5);
    --bg-lower-color:rgba(240, 115, 251, 0.7);
}

a{
    color:var(--text-color);
    text-decoration: none;
    margin: 0.1em;
    transition: color ease var(--transition-time), 
                transform ease var(--transition-time),
                font ease var(--transition-time);
}

a:visited{
    color:var(--text-color);
}

a:hover{
    color: var(--link-color);
    transform: scale(1.2);
}

#privacyLink:hover{
    font-size: larger;
    font-weight: bolder;
}

#gitlabIcon:hover{
    color: var(--gitLab-color);
}

#githubIcon:hover{
    color: var(--gitHub-color);
}

#linkedinIcon:hover{
    color: var(--linkedin-color);
}

#androidIcon:hover{
    color: var(--android-color);
}

body{
    color: var(--text-color);
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    font-size: 12pt;
    font-weight: 300;
    line-height: 1.2em;
    background-image: linear-gradient(to bottom right, var(--bg-upper-color), var(--bg-lower-color));
}

div{
    margin: 0.5em;
}

h1{
    text-align: center;
    margin-top: 0.2em;
    font-size: 3.5em;
}

h2{
    text-align: start;
    margin-top: 0.5em;
    font-size: 2em;
}

video{
    width: 100%;
    height: auto;
}

#videoDiv{
    margin: 0 auto;
    width: 70vw;
}

img{
    width: 24%;
    height: auto;
    transition: transform ease var(--transition-time);
}

img:hover{
    transform: scale(1.5);
}

#imgDiv{
    margin: 2em auto;
    width: 90vw;
    text-align: center;
}

#bottomDiv{
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-top: -1em;
    margin-bottom: 4em;
}

.linksDiv{
    text-align: center;
    margin: auto;
    width: 33%;
}

footer{
    margin: auto;
    text-align: center;
}

.fr {
	display: inline;
}

.en {
	display: none;
}
